.safe-report-page {
  width: 1168px;
  margin: 0 auto;

  padding: 18px 28px 28px;
}

.safe-report-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.safe-report-page header .title {
  font-size: 28px;
}

.safe-report-page header .button-box {
  display: flex;
  align-items: center;
  gap: 36px;
}

.safe-report-page header .button-box button {
  width: 72px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  border-radius: 8px;
}

.safe-report-page table {
  width: 100%;
}

.safe-report-contents-header {
  display: flex;
  border-collapse: collapse;

  border: 1px solid #cfcfcf;
  border-radius: 8px;
}

.safe-report-contents-header .left {
  flex: 1;
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.safe-report-contents-header .left > div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;
}

.safe-report-contents-header .left > div .contents {
  width: 396px;
  height: 52px;

  display: flex;
  padding-left: 12px;
  align-items: center;

  border: 1px solid #cfcfcf;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.safe-report-contents-header .right {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 40px 28px;
  flex: 1;
}

.safe-report-contents-header .right .total-box {
  display: flex;
  padding: 23px 32px 23px 24px;
  justify-content: space-between;
  background-color: #e0ecff;
  border-radius: 8px;
  align-items: center;
}

.safe-report-contents-header .right .total-box .title {
  font-size: 20px;
}

.safe-report-contents-header .right .total-box .amount {
  font-size: 34px;
  color: #2a64f6;
}
